/*
 Table Of Contents
 1.) Media Query for Handheld Devices
 2.) Media Query for Tablet
 3.) Media Query for mobile
 ===============================================*/

/*
 1.) Media Query for Handheld Devices
 ===============================*/
/*------------------Tablet css -----------*/
@media only screen and (min-width: 768px) {
	.contact-number, .contact-number:hover {
		color: #78B93F;
	}

	.pivotal-logo {
		background-color: rgba(0,14,29,0.58);
		width: 200px;
		height: 60px;
		margin-right: 15px;
		border-left: 1px solid #728083;
		text-align: center;
	}
	.pivotal-logo img {
		width: 150px;
	}
	.header {
		padding: 0;
	}
	.header-social-links {
		padding: 10px;
		border-left: 1px solid #728083;
	}
	.header-social-links ul {
		margin-bottom: 5px;
	}
	.navbar-brand {
		width: 150px;
	}
	.navbar-collapse {
		top: 61px;
	}
	.jumbotron h1 {
		font-size: 40px;
	}
	.jumbotron p {
		font-size: 28px;
	}
	h2 {
		font-size: 30px;
	}
	.function-content p {
		padding-top: 20px;
	}
	.title .btn {
		align-self: center;
	}
	.solution-info h3 {
		min-height: 60px;
	}
	.footer-bottom p {
		margin-bottom: 0;
	}
	.social-icon{
		margin-bottom: 0;
	}
	.footer-bottom{
		align-items: flex-end;
	}
}

/*------------------large desktop  css -----------*/

@media screen and (min-width: 992px) {
	.navbar-collapse {
		position: static;
		background-color: transparent;
		order: 2;
		width: 400px;
	}
	.header-social-links {
		order: 3;
		padding: 20px 10px;
	}
	.pivotal-logo {
		margin: 0;
		order: 4;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.header .container-fluid {
		padding: 0;
	}
	.navbar-brand {
		margin: 10px;
	}
	.navbar-nav {
		justify-content: space-around;
		width: 100%;
	}
	.pivotal-logo {
		height: 79px;
	}
}

@media only screen and (min-width: 1200px) {
	.navbar-brand {
		width: auto;
	}
	.navbar {
		align-items: inherit;
	}
	.navbar-brand {
		margin: 10px 24px;
	}
	.pivotal-logo {
		height: auto;
	}
	.jumbotron {
		padding: 265px 0 100px;
		min-height: 883px;
	}
	.jumbotron h1 {
		font-size: 89px;
		line-height: 1.3;
		margin: 0 0 39px;
	}
	.jumbotron h1:after {
		bottom: -10px;
	}
	.jumbotron p {
		font-size: 41px;
		margin: 0 0 50px -13px;
	}
	.jumbotron .btn {
		min-width: 200px;
	}
	.solution-wrap h2 {
		padding: 52px 0;
		font-size: 50px;
	}
	.solution-info h3 {
		font-size: 33px;
		margin-bottom: 14px;
		min-height: 130px;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		line-height: 1.3;
		justify-content: center;
		flex-wrap:wrap;
	}
	.solution-info {
		padding: 27px 0 63px;
	}
	.solution-content p {
		font-size: 18px;
		line-height: 1.3;
		margin: 0 0 27px;
	}
	.solution-info .btn {
		min-width: 134px;
	}
	.function-group {
		padding: 96px 0 73px;
	}
	.title h2:after {
		bottom: -13.9px;
	}
	.title {
		margin: 0 0 10px;
	}
	.function-content p {
		font-size: 30px;
		padding-top: 40px;
		line-height: 1.3;
	}
	.function-info h3 {
		font-size: 30px;
		margin: 0 0 21px;
	}
	.function-info p {
		font-size: 22px;
		line-height: 1.3;
	}
	.latest-event {
		padding: 40px 0 35px;
	}
	.btn {
		min-width: 200px;
		font-size: 12px;
	}
	.latest-event h2 {
		margin: 0;
	}
	.latest-event .btn {
		padding: 15px;
		margin: 12px 0 0;
	}
	.latest-event .title h2::after {
		bottom: 0;
	}
	.latest-event .title {
		margin-bottom: 25px;
	}
	.latest-content .card-body {
		padding: 51px 0;
	}
	.latest-content span {
		margin-bottom: 30px;
	}
	.latest-content .card-text {
		line-height: 1.3;
	}
	.request-wrap {
		padding: 48px 0 30px;
	}
	.request-wrap p {
		line-height: 1.2;
		font-size: 18px;
	}
	.request-wrap h2 {
		margin: 0 0 22px;
	}
	.request-wrap .btn {
		width: 200px;
		display: block;
		margin: 0 auto;
	}
	.footer {
		padding: 79px 0 42px;
	}
	.footer-logo {
		padding: 0 12px;
	}
	.footer-link {
		padding-top: 17px;
	}
	.footer h6 {
		margin-bottom: 33px;
	}
	.footer-list li {
		margin-bottom: 20px;
	}
	.footer-bottom {
		padding: 30px 0;
	}
	.social-icon li {
		margin-right: 38px;
	}
	.website-design {
		text-align: center;
		padding: 0 0 0 28px;
	}
	.footer-list address {
		padding: 0 63px 0 0;
	}
	.pivotal-content img {
		margin-bottom: 45px;
		width: 290px;
	}
	.navbar-brand {
		margin: 13px 40px;
	}
	.pivotal-logo {
		width: 289px;
	}
	.pivotal-logo img {
		width: 184px;
	}
	.header-social-links li {
		margin-right: 35px;
	}
	.header-social-links {
		padding: 39px 10px 10px;
		min-width: 251px;
	}
	.contact-number {
		font-size: 24px;
	}
	.header-social-links ul {
		margin-bottom: 24px;
	}
	.pivotal-content p {
		width: 550px;
		margin: 0 auto 27px;
	}
}

@media only screen and (min-width: 1920px) {
	.navbar-collapse {
		padding: 0 100px;
	}
	.solution-info h3 {
		padding: 0 50px;
	}
}

